@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.content {
    width: 60%;
    margin: 0 auto;
}

body {
    background: rgb(226, 226, 226);
}

// Left-Sidebar

.content .navbar .collapse {
    font-family: 'Poppins', sans-serif;
}

.content .row .col-md-3 .card {
    font-family: 'Poppins', sans-serif;
}

.content .row .col-md-3 .card .card-header {
    font-size: 1.2em;
    background: yellow;
    padding-left: 1.8em;
}

.content .row .col-md-3 .card .card-body .card-title a {
    font-size: 1em;
    letter-spacing: .05em;
    color: black;
    padding-left: 1.5em;
    text-decoration: none;
}

.content .row .col-md-3 .card .card-body.text- {
    padding: 1em 0;
}

// Carousel

.col-md-9 .carouselExampleIndicators .carousel-inner .carousel-item .d-block {
    width: 250;
    height: 300px;
}

// Order Details

.card-text {

    font-size: 1em;
    text-align: center;
}

main .content .col-md-2 .card .col-md-4 img {
    padding-top: 1.5em;
}

main .content .col-md-2 .card .col-md-8 .card-body a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

// featured

.featured {
    background-color: red;
    font-family: 'Poppins', sans-serif;
}

.featured .col-md-2 {

    margin: 0;
    padding: 0;
}

.featured .col-md-2 .card-deck {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}


.featured .col-md-2 .card-deck .card-body {
    padding: .5em;
}

.featured .col-md-2 .card-deck .card-body .card-title {

    font-size: 1em;
}

.featured .col-md-2 .card-deck p {
    padding: 0;
    font-size: .7em;
}